
@{
    ViewBag.Title = "Profiles";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <div class="flex-column">
        <h2>Your Profile</h2>
        <div class="col-md-10">
            
        </div>
    </div>
    <div >

    </div>
</div>

