@model Depressed.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/Separated.cshtml";
}
<section class="page-content course-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="add-course-header">
                    <h2>Manage your password</h2>
                    <p class="text-success">@ViewBag.StatusMessage</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>